table {
  width: 100%;
  border-collapse: collapse; /* Ensures that borders are not doubled */
  border: none; /* No border for the table */
}

th, td {
  padding: 10px;
  text-align: left;
  border: none; /* No border for table headers and cells */
}

.sponsor-level td {
  border: none; /* Remove any existing borders */
  border-bottom: 1px solid #dee2e6; /* Add bottom border */
  font-weight: bold; /* Makes the text bold */
}

.centered {
  text-align: center;
  border: none; /* No border for centered cells */
}